<div data-role="panel" id="left-panel3" data-display="overlay" data-position="left" class="panel-index">

    <h1 class="h-title">សញ្ញាចរាចរណ៍</h1>
    <div class="bar-content">
        <ul class="menu">
            <li>
                <a href="index.html">
                    <span class="glyph-icon flaticon-home168 flaticon"></span>
                    ទំព័រដើម
                </a>
            </li>
            <li>
                <a href="#page-laws">
                    <span class="glyph-icon flaticon-open-book1 flaticon"></span>
                    ច្បាប់ចរាចរណ៏
                </a>
            </li>

            <li>
                <a href="#page-lawsigns">
                    <span class="glyph-icon flaticon-forbidden6 flaticon"></span>
                    សញ្ញាចរាចរណ៍
                </a>
            </li>

            <li>
                <a href="#page-contacts">
                    <span class="glyph-icon flaticon-phonereceiver14 flaticon"></span>

                    ទំនាក់ទំនង
                </a>
            </li>

            <!--<li>-->
                <!--<a href="#trafficjams">-->
                    <!--<span class="glyph-icon flaticon-situation flaticon"></span>-->

                    <!--ខ្សែផ្លូវស្ទះ-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="#page-driving">
                    <span class="glyph-icon flaticon-car186 flaticon"></span>

                    បណ្ណ័បើកបរ
                </a>
            </li>
            <!--<li>-->
                <!--<a href="">-->
                    <!--<span class="glyph-icon flaticon-tick7 flaticon"></span>-->

                    <!--សាកល្បង-->
                <!--</a>-->
            <!--</li>-->

        </ul>
        <ul class="menu">
            <!--<li>-->
                <!--<a>-->
                    <!--<span class="glyph-icon flaticon-button44 flaticon"></span>-->
                    <!--អំពីពួកយើង-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a>
                    <span class="glyph-icon flaticon-cross108 flaticon"></span>
                    បិទកម្មវិធី
                </a>
            </li>
        </ul>
    </div>
</div><!-- /panel -->

<div data-role="header" data-id="persistent" data-position="fixed" class="header">

    <div class="app-menu">
        <a href="#left-panel3" class=""><i class="md md-dehaze"></i></a>
    </div>
    <div class="app-title">
        <h1 class="h-title">សញ្ញាចរាចរណ៍</h1>
    </div>
    <div class="app-search">
        <a href="#popupsearch1" data-rel="popup" data-inline="true" data-transition="slide" class="srmenu" id="btn-search">
            <i class="md md-search"></i>
        </a>
    </div>

    <div data-role="popup" class="h-serach" id="popupsearch1">
        <form class="ui-filterable">
            <input id="filterlaw" data-type="search" placeholder="ស្វែងរក"/>
        </form>
    </div>
</div><!-- /header -->
<div data-role="content" class="c-pd-tb">  

    <div class="card m-b-0">
        <div class="listview lv-bordered lv-lg " id="pagelawsign">
            <div class="lv-body" data-role="listview" data-filter="true" data-input="#filterlawsign">
                {{#each lawsigns}}
                <a href="#page-groupsigns" data-id="{{id}}" data-transition="slide" class="no-arro">
                    <div class="lv-item media cus-listview">
                        <span class="circle-img">
                            </span>
                        <div class="media-body">
                            <div class="lv-title l-title"> {{kind}}</div>
                            <small class="lv-small m-title"> {{title}}</small>
                            <small class="lv-small s-title"> {{kind}} មាន{{{description}}}</small>

                            <div class="cs-lv-actions">
                                <span>
                                    <i class="md md-chevron-right"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
                {{/each}}
                {{#if isLastPage}}
                {{else}}
                <a style="float: right;margin: 0px 17px;" href="#" id="seeSignMore"
                   class="btn btn-default">ច្រើនទៀត...</a>
                {{/if}}
            </div>
        </div> 
    </div>
</div><!-- /content -->

